.env
node_modules/*
!node_modules/react-stripe-checkout/dist/main.js
.next
terraform/terraform.tfvars
terraform/freshly
terraform/freshly.pub


# .tfstate files
terraform/*.tfstate
terraform/*.tfstate.*
terraform/*backup
terraform/\.terraform/plugins/darwin_amd64/

\.DS_Store

*.tfstate
*idk

