.wrapper {
    background-image: url("../img/starts1.png");
    background-color:black;
    background-repeat:repeat;
    background-size:contain;
    background-position: top;
    text-align: center;
}
html{
    box-sizing: border-box;
    font-family: "Helvetica";
    font-weight: bold;
    background-color:black;

}
.body {
    background-color:black;

}
*,
*:before,
*:after{
    box-sizing: inherit;
}

.section {
   visibility: visible; 
   opacity: 1; 
   transition: opacity 0.6s cubic-bezier(0.5, 0, 0, 1) 0s;
}

.flyerimage{
    width: 50%;
    align-content: center;
    margin-top: 10%;
    margin-bottom: 4%;
}
#img {
    width: 50%;
    height: auto
}

.mailchimp {
    position: absolute; left: -5000px;
}
.responsive {
    /* scale:  */
    width: 100%;
    height: auto;
    display:none;
  }
button,.button {
    padding: 10px 15px;
    border: 2px solid #000;
    color: #000;
    cursor: pointer;
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    transition: .5s; 
}
button:hover,
.button:hover {
    background: #000;
    color: #fff; 
}

input {
    background: transparent;
    margin-bottom: 10px;
    font-size: 18px;
    font-family: "Poppins", Helvetica, Arial, Sans-Serif;
    border-radius: 0;
    -webkit-appearance: none;
    font-weight: bold; 
}
input:focus {
    outline: none; 
}
input[type=email], input[type=text] {
    color: #fff;
    width: 100%;
    max-width: 500px;
    padding: 10px 0px;
    border: 2px solid #fff;
    border-top: none;
    border-left: none;
    border-right: none; 
}
input[type=email]::placeholder, input[type=text]::placeholder {
    color: #000; 
}
input[type=submit] {
    padding: 10px 15px;
    border: 2px solid #fff;
    color: #fff;
    cursor: pointer;
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    transition: .5s; 
}
input[type=submit]:hover {
    background: #fff;
    color: #000; 
}
.yellow {
    width: 10em;
}
.yellow-star {
    margin-left: 2%;
    margin-right: 2%;
}
.cash {
    margin-top: 4%;
    width: 50%;
    align-content: center;
    margin-bottom: 4%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.gif {
  width: 200px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.features {
    color: greenyellow;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

}
.item {
    font-size: 3vw;

}
.rsvp-form{
    color: white;
    margin-bottom: 2%;
    /* margin-left: auto;
    margin-right: auto; */
    display: inline-block;
    text-align: center;
    font-size:  3vw;

}
#mc_embed_signup{
    background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif;
}
.flyerimage {
    margin-top: 0%;
    width: 50%;
    align-content: center;
    margin-bottom: 4%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.title {
    color: yellow;
    position: relative;
    font-family: 'Helvetica Neue LT Std';
    text-align: center;
    font-size: 8vw;

}

.tickets {
    color: yellow;
    position: relative;
    font-family: 'Helvetica Neue LT Std';
    text-align: center;
    font-size: 4vw;
    margin-top: 5%


}
.row::after {
    content:"";
    display: table;
    clear:both;
    margin-bottom: 2%;
} 
.title {
    margin-top: 3%
}
.lineup {
    color: white;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 3vw;
}
.about {
    color: white;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 2vw;
    width: 60%;
}
.date {
    color: white;
    text-align: center;
    font-family: '00222';
    font-size: 6vw;

}
/* Mobile Landscape Screen Sizes */
@media only screen and (min-width: 480px)  {
	[class*='col-'] {
		margin-right: 0;
		min-height: 1px;
		float: left;
	}
	.col-1-2,
	.col-2 {
		width: 44%;
	}
	.col-1-4,
	.col-3,
	.col-4 {
		width: 92%;
    }
    .lineup {
		width: 92%;
	}

}

/* Desktop screen Sizes */
@media only screen and (min-width: 768px) {
	.col-1-2, 
	.col-1-4 {
		width: 20%;
	}
	.col-2 {
		width: 44%;
	}
	.col-3 {
		width: 68%;
	}
	.col-4 {
		width: 92%;
	}
}
.button {
-webkit-transition-duration: 0.4s; /* Safari */
transition-duration: 0.4s;
}

.button:hover {
background-color: #4CAF50; /* Green */
color: white;
}

@font-face {font-family: "Helvetica Neue LT Std";
    src: url("//db.onlinewebfonts.com/t/126bec8bf668f672701e22744c9b634d.eot");
    src: url("//db.onlinewebfonts.com/t/126bec8bf668f672701e22744c9b634d.eot?#iefix") format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/126bec8bf668f672701e22744c9b634d.woff2") format("woff2"),
    url("//db.onlinewebfonts.com/t/126bec8bf668f672701e22744c9b634d.woff") format("woff"),
    url("//db.onlinewebfonts.com/t/126bec8bf668f672701e22744c9b634d.ttf") format("truetype"),
    url("//db.onlinewebfonts.com/t/126bec8bf668f672701e22744c9b634d.svg#Helvetica Neue LT Std") format("svg");
}
@font-face {
    font-family: '00222';
    src: url('a0222.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}